<!doctype html>
<html ng-app>
    <head>
        <title>Angular JS hello World</title>
    </head>
    <body ng-init="name='James'">
        <div ng-hide="isHidden">
            Name : <input type="text" ng-model="name" /> <span ng-bind="name"></span>
        </div>
        Hide: <input type="checkbox" ng-model="isHidden"/>
        
        <br />
        <button ng-click="name='Michelle'">Change Name</button>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
    </body>
</html>